* {
  font-family: 'Architects Daughter', cursive;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
  /*height: 100%;*/
  background-color: #FEFEFE;
  background-image: url("../images/ag-square.png");
}

html {
  /*height: 100%;*/
}

.score {
  padding-left: 15px;
}

.score .best span {
  color: #5CB85C;
}

menu#controls {
  position: fixed;
  top: 0px;
  right: 0px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 21pt;
}

menu#controls li {
  height: 60px;
  width: 60px;
  margin-left: 1px;
  line-height: 67px;
  text-align: center;
  background-color: #EEEEEE;
  color: #777777;
  float: left;
  cursor: pointer;
}

menu#controls li:active,
menu#controls li:hover {
  border-top: 3px solid #428BCA;
  line-height: 61px;
}


@media screen and (min-width: 320px) and (min-height: 480px) {

  .score {
    font-size: 18pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 480px) and (min-height: 320px) {

  .score {
    font-size: 15pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 480px) and (min-height: 854px) {

  .score {
    font-size: 18pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 540px) and (min-height: 960px) {

  .score {
    font-size: 22pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 600px) and (min-height: 800px) {

  .score {
    font-size: 22pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 600px) and (min-height: 1024px) {

  .score {
    font-size: 25pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 640px) and (min-height: 960px) {

  .score {
    font-size: 22pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 720px) and (min-height: 1280px) {

  .score {
    font-size: 32pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 768px) and (min-height: 1024px) {

  .score {
    font-size: 25pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 800px) and (min-height: 600px) {

  .score {
    font-size: 22pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 800px) and (min-height: 1280px) {

  .score {
    font-size: 32pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 854px) and (min-height: 480px) {

  .score {
    font-size: 18pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 960px) and (min-height: 540px) {
  
  .score {
    font-size: 22pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 960px) and (min-height: 640px) {

  .score {
    font-size: 22pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 1024px) and (min-height: 600px) {

  .score {
    font-size: 25pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 1024px) and (min-height: 768px) {

  .score {
    font-size: 25pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 1080px) and (min-height: 1920px) {
  
  .score {
    font-size: 45pt;
  }

  menu#controls {
    font-size: 45pt;
  }

  menu#controls li {
    height: 100px;
    width: 100px;
    line-height: 120px;
  }

}

@media screen and (min-width: 1200px) and (min-height: 1920px) {
 
  .score {
    font-size: 45pt;
  }

  menu#controls {
    font-size: 45pt;
  }

  menu#controls li {
    height: 100px;
    width: 100px;
    line-height: 120px;
  }

}

@media screen and (min-width: 1280px) and (min-height: 720px) {

  .score {
    font-size: 32pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 1280px) and (min-height: 800px) {
  
  .score {
    font-size: 32pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 1366px) and (min-height: 768px) {
  
  .score {
    font-size: 32pt;
  }

  menu#controls {
    font-size: 21pt;
  }

  menu#controls li {
    height: 60px;
    width: 60px;
    line-height: 67px;
  }

}

@media screen and (min-width: 1600px) and (min-height: 2560px) {

  .score {
    font-size: 55pt;
  }

  menu#controls {
    font-size: 60pt;
  }

  menu#controls li {
    height: 150px;
    width: 150px;
    line-height: 175px;
  }

}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
 
  .score {
    font-size: 45pt;
  }

  menu#controls {
    font-size: 45pt;
  }

  menu#controls li {
    height: 100px;
    width: 100px;
    line-height: 120px;
  }

}

@media screen and (min-width: 1920px) and (min-height: 1200px) {

  .score {
    font-size: 45pt;
  }

  menu#controls {
    font-size: 45pt;
  }

  menu#controls li {
    height: 100px;
    width: 100px;
    line-height: 120px;
  }

}

@media screen and (min-width: 2560px) and (min-height: 1600px) {

  .score {
    font-size: 55pt;
  }

  menu#controls {
    font-size: 60pt;
  }

  menu#controls li {
    height: 150px;
    width: 150px;
    line-height: 175px;
  }

}

.download-block {
  z-index: 999999999999999;
  position: fixed;
  left: 50%;
  top: 30px;
  margin-left: -225px;
}
