.game-over {
  width: 408px;
  height: 408px;
  margin: 0px auto;
  padding: 0px;
  background-color: #555555;
  color: #EEEEEE;
  text-align: center;
}

.game-over p {
  position: relative;
  top: 25%;
  font-size: 45pt;
}

.game-over span {
  border-bottom: 3px dashed #EEEEEE;
  cursor: pointer;
}

.game-over.gray {
  background-color: #777777;
}

.game-over.brown {
  background-color: #7A5230;
}

.game-over.violet {
  background-color: #6F5499;
}

.game-over.blue {
  background-color: #428BCA;
}

.game-over.cyan {
  background-color: #5BC0DE;
}

.game-over.green {
  background-color: #5CB85C;
}

.game-over.yellow {
  background-color: #F0AD4E;
}

.game-over.red {
  background-color: #D9534F;
}

@media screen and (min-width: 320px) and (min-height: 480px) {

  .game-over {
    width: 300px;
    height: 300px;
  }

  .game-over p {
    font-size: 35pt;
  }
  
}

@media screen and (min-width: 480px) and (min-height: 320px) {

  .game-over {
    width: 200px;
    height: 200px;
  }

  .game-over p {
    font-size: 25pt;
  }

}

@media screen and (min-width: 480px) and (min-height: 854px) {

  .game-over {
    width: 460px;
    height: 460px;
  }

  .game-over p {
    font-size: 50pt;
  }

}

@media screen and (min-width: 540px) and (min-height: 960px) {

  .game-over {
    width: 500px;
    height: 500px;
  }

  .game-over p {
    font-size: 50pt;
  }

}

@media screen and (min-width: 600px) and (min-height: 800px) {

  .game-over {
    width: 540px;
    height: 540px;
  }

  .game-over p {
    font-size: 65pt;
  }

}

@media screen and (min-width: 600px) and (min-height: 1024px) {

  .game-over {
    width: 580px;
    height: 580px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 640px) and (min-height: 960px) {

  .game-over {
    width: 600px;
    height: 600px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 720px) and (min-height: 1280px) {

  .game-over {
    width: 680px;
    height: 680px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 768px) and (min-height: 1024px) {

  .game-over {
    width: 660px;
    height: 660px;
  }

  .game-over p {
    font-size: 70pt;
  }

}

@media screen and (min-width: 800px) and (min-height: 600px) {

  .game-over {
    width: 440px;
    height: 440px;
  }

  .game-over p {
    font-size: 50pt;
  }

}

@media screen and (min-width: 800px) and (min-height: 1280px) {

  .game-over {
    width: 740px;
    height: 740px;
  }

  .game-over p {
    font-size: 75pt;
  }

}

@media screen and (min-width: 854px) and (min-height: 480px) {

  .game-over {
    width: 340px;
    height: 340px;
  }

  .game-over p {
    font-size: 45pt;
  }

}

@media screen and (min-width: 960px) and (min-height: 540px) {

  .game-over {
    width: 380px;
    height: 380px;
  }

  .game-over p {
    font-size: 50pt;
  }

}

@media screen and (min-width: 960px) and (min-height: 640px) {

  .game-over {
    width: 480px;
    height: 480px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 1024px) and (min-height: 600px) {

  .game-over {
    width: 460px;
    height: 460px;
  }

  .game-over p {
    font-size: 50pt;
  }

}

@media screen and (min-width: 1024px) and (min-height: 768px) {

  .game-over {
    width: 580px;
    height: 580px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 1080px) and (min-height: 1920px) {

  .game-over {
    width: 900px;
    height: 900px;
  }

  .game-over p {
    font-size: 90pt;
  }

}

@media screen and (min-width: 1200px) and (min-height: 1920px) {

  .game-over {
    width: 1100px;
    height: 1100px;
  }

  .game-over p {
    font-size: 120pt;
  }

}

@media screen and (min-width: 1280px) and (min-height: 720px) {

  .game-over {
    width: 500px;
    height: 500px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 1280px) and (min-height: 800px) {

  .game-over {
    width: 600px;
    height: 600px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 1366px) and (min-height: 768px) {

  .game-over {
    width: 552px;
    height: 552px;
  }

  .game-over p {
    font-size: 60pt;
  }

}

@media screen and (min-width: 1600px) and (min-height: 2560px) {

  .game-over {
    width: 1300px;
    height: 1300px;
  }

  .game-over p {
    font-size: 150pt;
  }

}

@media screen and (min-width: 1920px) and (min-height: 1080px) {

  .game-over {
    width: 652px;
    height: 652px;
  }

  .game-over p {
    font-size: 80pt;
  }

}

@media screen and (min-width: 1920px) and (min-height: 1200px) {

  .game-over {
    width: 772px;
    height: 772px;
  }

  .game-over p {
    font-size: 100pt;
  }

}

@media screen and (min-width: 2560px) and (min-height: 1600px) {

  .game-over {
    width: 1152px;
    height: 1152px;
  }

  .game-over p {
    font-size: 120pt;
  }

}
