menu.main {
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 45px;
  background-color: #EEEEEE;
  list-style: none;
}

menu.main li {
  float: left;
  height: 45px;
  line-height: 30px;
  padding: 10px 15px;
  cursor: pointer;
  color: #428BCA;
}

menu.main li.logo {
  background-image: url(../images/logo.png);
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
}

menu.main li.best {
  float: right;
  color: #555555;
}

span.score {
  color: #5CB85C;
}
