playfield {
  width: 408px;
  height: 408px;
  margin: 0px auto;
  padding: 0px;
  display: block;
}

playitem {
  width: 100px;
  height: 100px;
  margin: 1px;
  padding: 0px;
  background-color: #EEEEEE;
  float: left;
  line-height: 100px;
  text-align: center;
  color: #EEEEEE;
}

playitem .square {
  border-radius: 0px;
  -webkit-transform: rotate(0) scale(1);
}

playitem .circle {
  border-radius: 50px;
  -webkit-transform: rotate(0) scale(1);
}

playitem .rhombus {
  border-radius: 0px;
  -webkit-transform: rotate(-45deg) scale(0.7);
}

playitem div {
  font-family: 'Audiowide';
  -webkit-transition: border-radius ease-in-out 1s;
}

playitem .playitem-2 {
  background-color: #777777;
}

playitem .playitem-4 {
  background-color: #7A5230;
}

playitem .playitem-8 {
  background-color: #6F5499;
}

playitem .playitem-16 {
  background-color: #428BCA;
}

playitem .playitem-32 {
  background-color: #5BC0DE;
}

playitem .playitem-64 {
  background-color: #5CB85C;
}

playitem .playitem-128 {
  background-color: #F0AD4E;
}

playitem .playitem-256 {
  background-color: #D9534F;
}

@media screen and (max-width: 2560px) and (max-height: 1600px) {

  playfield {
    width: 1200px;
    height: 1200px;
  }

  playitem {
    width: 298px;
    height: 300px;
    line-height: 298px;
  }

  playitem div {
    font-size: 55pt;
  }

}

@media screen and (max-width: 1920px) and (max-height: 1200px) {

  playfield {
    width: 852px;
    height: 852px;
  }

  playitem {
    width: 211px;
    height: 213px;
    line-height: 211px;
  }

  playitem div {
    font-size: 55pt;
  }

}

@media screen and (max-width: 1920px) and (max-height: 1080px) {

  playfield {
    width: 708px;
    height: 708px;
  }

  playitem {
    width: 175px;
    height: 177px;
    line-height: 175px;
  }

  playitem div {
    font-size: 55pt;
  }

}

@media screen and (max-width: 1600px) and (max-height: 2560px) {

  playfield {
    width: 1300px;
    height: 1300px;
  }

  playitem {
    width: 323px;
    height: 325px;
    line-height: 323px;
  }

  playitem div {
    font-size: 55pt;
  }

}

@media screen and (max-width: 1366px) and (max-height: 768px) {

  playfield {
    width: 552px;
    height: 552px;
  }

  playitem {
    width: 136px;
    height: 138px;
    line-height: 136px;
  }

  playitem div {
    font-size: 25pt;
  }

}

@media screen and (max-width: 1280px) and (max-height: 800px) {

  playfield {
    width: 600px;
    height: 600px;
  }

  playitem {
    width: 148px;
    height: 150px;
    line-height: 148px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 1280px) and (max-height: 720px) {

  playfield {
    width: 500px;
    height: 500px;
  }

  playitem {
    width: 123px;
    height: 125px;
    line-height: 123px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 1200px) and (max-height: 1920px) {

  playfield {
    width: 1100px;
    height: 1100px;
  }

  playitem {
    width: 273px;
    height: 275px;
    line-height: 273px;
  }

  playitem div {
    font-size: 55pt;
  }

}

@media screen and (max-width: 1080px) and (max-height: 1920px) {

  playfield {
    width: 900px;
    height: 900px;
  }

  playitem {
    width: 223px;
    height: 225px;
    line-height: 223px;
  }

  playitem div {
    font-size: 55pt;
  }

}

@media screen and (max-width: 1024px) and (max-height: 768px) {

  playfield {
    width: 580px;
    height: 580px;
  }

  playitem {
    width: 143px;
    height: 145px;
    line-height: 143px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 1024px) and (max-height: 600px) {

  playfield {
    width: 460px;
    height: 460px;
  }

  playitem {
    width: 113px;
    height: 115px;
    line-height: 113px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 960px) and (max-height: 640px) {

  playfield {
    width: 480px;
    height: 480px;
  }

  playitem {
    width: 118px;
    height: 120px;
    line-height: 118px;
  }

  playitem div {
    font-size: 25pt;
  }

}

@media screen and (max-width: 960px) and (max-height: 540px) {

  playfield {
    width: 380px;
    height: 380px;
  }

  playitem {
    width: 93px;
    height: 95px;
    line-height: 93px;
  }

  playitem div {
    font-size: 25pt;
  }

}

@media screen and (max-width: 854px) and (max-height: 480px) {

  playfield {
    width: 340px;
    height: 340px;
  }

  playitem {
    width: 83px;
    height: 85px;
    line-height: 83px;
  }

  playitem div {
    font-size: 25pt;
  }

}

@media screen and (max-width: 800px) and (max-height: 1280px) {

  playfield {
    width: 740px;
    height: 740px;
  }

  playitem {
    width: 183px;
    height: 185px;
    line-height: 183px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 800px) and (max-height: 600px) {

  playfield {
    width: 440px;
    height: 440px;
  }

  playitem {
    width: 108px;
    height: 110px;
    line-height: 108px;
  }

  playitem div {
    font-size: 25pt;
  }

}

@media screen and (max-width: 768px) and (max-height: 1024px) {

  playfield {
    width: 660px;
    height: 660px;
  }

  playitem {
    width: 163px;
    height: 165px;
    line-height: 163px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 720px) and (max-height: 1280px) {

  playfield {
    width: 680px;
    height: 680px;
  }

  playitem {
    width: 168px;
    height: 170px;
    line-height: 168px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 640px) and (max-height: 960px) {

  playfield {
    width: 600px;
    height: 600px;
  }

  playitem {
    width: 148px;
    height: 150px;
    line-height: 148px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 600px) and (max-height: 1024px) {

  playfield {
    width: 580px;
    height: 580px;
  }

  playitem {
    width: 143px;
    height: 145px;
    line-height: 143px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 600px) and (max-height: 800px) {

  playfield {
    width: 540px;
    height: 540px;
  }

  playitem {
    width: 133px;
    height: 135px;
    line-height: 133px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 540px) and (max-height: 960px) {

  playfield {
    width: 500px;
    height: 500px;
  }

  playitem {
    width: 123px;
    height: 125px;
    line-height: 123px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 480px) and (max-height: 854px) {

  playfield {
    width: 460px;
    height: 460px;
  }

  playitem {
    width: 113px;
    height: 115px;
    line-height: 113px;
  }

  playitem div {
    font-size: 35pt;
  }

}

@media screen and (max-width: 480px) and (max-height: 320px) {

  playfield {
    width: 200px;
    height: 200px;
  }

  playitem {
    width: 48px;
    height: 50px;
    line-height: 48px;
  }

  playitem div {
    font-size: 15pt;
  }

}

@media screen and (max-width: 320px) and (max-height: 480px) {

  playfield {
    width: 300px;
    height: 300px;
  }

  playitem {
    width: 73px;
    height: 75px;
    line-height: 73px;
  }

  playitem div {
    font-size: 15pt;
  }
  
}